#all-carousel {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

#carousel-lines {
  display: flex;
  height: 800px;
  flex-direction: column;
}

.one-line {
  display: flex;
  height: 50%;
}

.carousel-txt {
  flex: 1;
  margin-right: 60px;
}
.carousel-txt h4 {
  font-size: 24px;
  margin-bottom: 20px;
}
.desc {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}
.menu-der {
  font-size: 16px;
  text-decoration: underline;
}

.carousel-pics {
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 8px;
  flex-wrap: nowrap;
  flex: 3;
}

.one-carousel-pic {
  overflow: hidden;
  flex-shrink: 0;
  width: 33%;
  display: flex;
  flex-direction: column;
}

.image-logos-carousel {
  display: flex;
  position: relative;
  height: 52%;
}

.image-carousel img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
.certification {
  display: flex;
  position: absolute;
  height: 52px;
  bottom: 10px;
  left: 10px;
}
.certification img {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.heart {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: white;
  border-radius: 50%;
}
.svg {
  height: 40px;
  width: 40px;
  display: flex;
}

.svg i {
  margin: auto;
  font-size: 22px;
}

.carousel-pic-title {
  height: 40%;
  margin-top: 0;
  padding: 0;
}
.carousel-pic-title h5 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.notation {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 15%;
  font-size: 12px;
}
.green-rounds img {
  height: 16px;
  margin-right: 6px;
}
.desciption {
  margin-top: 4px;
  height: 20%;
  font-size: 14px;
}

.desciption p {
  margin: 0;
}
.subtext-carousel {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 0;
}
