@import "./reset.css";
@import "./header.css";
@import "./main1.css";
@import "./main2.css";
@import "./main-carousel.css";
@import "./main4.css";
@import "./footer.css";
body {
  font-family: TS-Reg, sans-serif;
  background-color: white;
}
.section {
  width: 1135px;
}

h2 {
  font-family: "TS-Bold";
  font-size: 30px;
}
h3 {
  padding: 10px;
  font-size: 30px;
  line-height: 40px;
  margin: 0;
}
