body {
  font-family: TS-Reg, sans-serif;
  background-color: white;
}
header {
  display: flex;
  justify-content: center;
}
.section {
  width: 1135px;
}

#header-sec {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex: 1;
}
#header-logo {
  display: flex;
  align-items: center;
}
#main-logo {
  height: 36px;
}
#header-logo:hover {
  cursor: pointer;
}

#header-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button {
  appearance: auto;
  background-color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*text-decoration : none;*/
  font-weight: bold;
  font-size: 12px;
  border-radius: 2rem;
  /* border: none;*/
  height: 40px;
}
.button:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

#black-button {
  background-color: black;
  color: white;
}
#black-button.hover {
  background-color: #4c4c4c;
  cursor: pointer;
}
